
@{
    ViewData["Title"] = "Contact Us";
}

<h1 style="text-decoration:underline;font-size:large"><b style="text-decoration:underline">Contact Me </b></h1>

<table>
    <tr>
        <td>
            <div id="div2" style="width:270px;height:500px;padding:5px;">
                <p >Birendra Kumar Rajan</p>
                <p style="margin-top:-20px;">Room No. B615, Hostel 12</p>
                <p style="margin-top:-20px;">IIT Bombay, Powai- 400 076</p>
                <p style="margin-top:-20px;">Maharashtra, India</p>
                <br />
                <span><b style="text-decoration:underline">Contact Timings</b></span>
                <br />
                <br />
                <p style="margin-top:-20px;"> Monday - Friday: 7.30am - 6:30pm</p>
                <p style="margin-top:-20px;">Saturday - Sunday: Closed </p>
            </div>
        </td>
        <td style="padding-left:60px;"><a href="https://goo.gl/maps/BYwAvgHfENNni8cH7" target="_blank"><img src="~/images/iitb.jpg" width="900" height="500" alt="Google Map" title="View in google map."/></a></td>
    </tr>
</table>
