
@{
    ViewData["Title"] = "Contact Us";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<table>
    <tr>
        <td style="padding-top:5px;width:30%;">
            <p style="text-decoration:underline;font-size:large;margin-top:-20%;font-size:1vw;"><b>Contact Me</b></p>
            <p style="font-size:1vw;">Birendra Kumar Rajan</p>
            <p style="margin-top:-20px;font-size:1vw;">Room No. B615, Hostel 12</p>
            <p style="margin-top:-20px;font-size:1vw;">IIT Bombay, Powai- 400 076</p>
            <p style="margin-top:-20px;font-size:1vw;">Maharashtra, India</p>
            <br />
            <span><b style="text-decoration:underline;font-size:large;font-size:1vw;">Contact Timings</b></span>
            <br />
            <br />
            <p style="margin-top:-20px;font-size:1vw;"> Monday - Friday: 7.30am - 6:30pm</p>
            <p style="margin-top:-20px;font-size:1vw;">Saturday - Sunday: Closed </p>
        </td>
        <td style="padding-left:60px;padding-top:5px;width:70%"><a href="https://goo.gl/maps/BYwAvgHfENNni8cH7" target="_blank"><img style="width:100%;" src="~/images/iitb.jpg"  alt="Google Map" title="View in google map."/></a></td>
    </tr>
</table>
