@{
    ViewData["Title"] = "Home Page";
}
<table><tr><td>
    <div id="div2" style="width:400px;height:440px;padding:5px;">
        <span><b>Welcome to Birendra Rajan Homepage</b></span>
        <br />
        <br />
        <p style="text-align:left">Birendra Rajan is a PhD research scholar at IIT</p>
        <p style="margin-top:-20px;">Bombay in Environmental Science and Engineering</p>
        <p style="margin-top:-20px;">Department  (ESED, IIT Bombay). His reserach</p>
        <p style="margin-top:-20px;"> focuses on developing air pollution control and its</p>
        <p style="margin-top:-20px;">mitigation techniques. Prior to this, He worked as </p>
        <p style="margin-top:-20px;">project staff at IIT Patna with Prof. Dr, Rishi Raj on</p>
        <p style="margin-top:-20px;">developing biomass based gasification system on </p>
        <p style="margin-top:-20px;">funded project by DST and SERB under  UAY Scheme, </p>
        <p style="margin-top:-20px;">Govt of India. He has completed his Master in Thermal </p>
        <p style="margin-top:-20px;">Engineering from University of Pune in 2016 as an  </p>
        <p style="margin-top:-20px;">academic topper. His Bachelor's in Engineering is </p>
        <p style="margin-top:-20px;"> in Mechanical Engineering from Birla Institute of </p>
        <p style="margin-top:-20px;">Technology, Mesra, Ranchi in 2013. He was born and </p>
        <p style="margin-top:-20px;">brought up in Patna (Bihar) along with his primary </p>
        <p style="margin-top:-20px;"> schooling. He is an avid trekker, runner and fun-loving </p>
        <p style="margin-top:-20px;"> personality with keen interest in  implementing </p>
        <p style="margin-top:-20px;">research for the betterment of society.</p>
        
    </div>
</td><td style="padding-left:60px;"><img src="~/images/biru.JPG" width="600" height="400" alt="my awards"/></td></tr></table>
   

