@{
    ViewData["Title"] = "Home Page";
}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<table><tr><td>
    <div id="div2" style="width:400px;height:440px;padding:5px;">
        <span><b>Welcome to Birendra Rajan Homepage</b></span>
        <br />
        <br />
        <p style="text-align:left;font-size:1vw;">  I am a PhD research scholar at IIT Bombay in made some changes</p>
        <p style="margin-top:-20px;font-size:1vw;"> Environmental Science and Engineering Department</p>
        <p style="margin-top:-20px;font-size:1vw;"> (ESED, IIT Bombay). My reserach focuses on developing</p>
        <p style="margin-top:-20px;font-size:1vw;"> air pollution control and its mitigation techniques.</p>
        <p style="margin-top:-20px;font-size:1vw;"> Prior to this, I worked as project staff at IIT Patna </p>
        <p style="margin-top:-20px;font-size:1vw;"> with Prof. Dr, Rishi Raj on developing biomass based</p>
        <p style="margin-top:-20px;font-size:1vw;"> gasification system on funded project by DST and</p>
        <p style="margin-top:-20px;font-size:1vw;"> SERB under  UAY Scheme, Govt of India. </p>
        <br />
        <p style="margin-top:-20px;font-size:1vw;"> I have completed my Master in Thermal Engineering from </p>
        <p style="margin-top:-20px;font-size:1vw;"> University of Pune in 2016 as an  academic topper.   </p>
        <p style="margin-top:-20px;font-size:1vw;"> I did Bachelor's in Engineering in Mechanical Engineering </p>
        <p style="margin-top:-20px;font-size:1vw;"> from Birla Institute of Technology, Mesra, Ranchi in  </p>
        <p style="margin-top:-20px;font-size:1vw;"> 2013. I was born and brought up in Patna (Bihar) along </p>
        <p style="margin-top:-20px;font-size:1vw;"> with my primary schooling. I am an avid trekker, runner </p>
        <p style="margin-top:-20px;font-size:1vw;"> and fun-loving personality with keen interest in </p>
        <p style="margin-top:-20px;font-size:1vw;"> implementing research for the betterment of society.   </p>
    </div>
</td><td style="        padding-left: 60px;
"><img src="~/images/biru.JPG" alt="my awards" style="        width: 100%
"/></td></tr></table>
   

