
@{
    ViewData["Title"] = "Research";
}
<p style="padding-left:400px;text-decoration:underline;font-size:x-large"><b>Research Interests</b></p>
<table>
    <tr>
        <td style="padding-left:60px;"><img src="~/images/group.jpg" width="600" height="500" alt="group pic."/></td>
        <td>
            <div id="div2" style="width:600px;height:500px;padding-left:30px;">
                <span><b style="text-decoration:underline">Research Area</b></span>
                <br />
                <p style="text-align:left">Clean air technologies, Air purification devices,</p>
                <p style="margin-top:-20px;">Small scale gasification  systems, Cookstove</p>
                <p style="margin-top:-20px;">design, Air pollution monitoring, Renewable </p>
                <p style="margin-top:-20px;"> energy.</p>
                <br />
                <span><b style="text-decoration:underline">Work Experience</b></span>
                <br />
                <br />
                <p style="margin-top:-20px;">Worked as project staff in TFTL, IIT Patna </p>
                <p style="margin-top:-20px;">under supervision of Dr. Rishi Raj on a project</p>
                <p style="margin-top:-20px;">to develop gasification system funded by DST </p>
                <p style="margin-top:-20px;">and SERB under UAY scheme, Govt. of India. </p>
                <br />
                <p style="margin-top:-20px;">Worked at DIAT, Pune under supervision of </p>
                <p style="margin-top:-20px;">Dr. Mahesh M S on simulating heat flow over  </p>
                <p style="margin-top:-20px;">high speed missiles. </p>
                <br />
                <span><b style="text-decoration:underline">Technical Skills</b></span>
                <br />
                <br />

                <p style="margin-top:-20px;">Solid works, ANSYS, CATIA, MATLAB, LaTex, MS-Office </p>
            </div>
        </td>

    </tr>
</table>

